@font-face {
    font-family: "Tahoma";
    src: url("fonts/tahoma.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "TahomaBD";
    src: url("fonts/tahomabd.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
html {
    background-color: #323232;
}
td {
    margin: 0;
    padding: 0;
}
a:link {
    color: #566C90;
}
a:visited {
    color: #566C90;
}
.topbar {
    background-color: #566C90;
}
.topcell {
    position: relative;
    bottom: 0;
    right: 0;
    text-align: right;
}
.toptext {
    user-select: none;
    position: absolute;
    bottom: -8px;
    right: 0;
    white-space: nowrap;
    font-family: Tahoma, sans-serif;
    font-size: 50pt;
    color: #E3E3E3;
}
.title {
    font-size: 10pt;
    font-family: TahomaBD, sans-serif;
    color: #E3E3E3;
    padding-top: 20px;
    padding-left: 10px;
}
.info {
    font-size: 10pt;
    font-family: Tahoma, sans-serif;
    color: #E3E3E3;
    padding-top: 5px;
    padding-left: 10px;
}
.content {
    padding-top: 5px;
    padding-left: 10px;
}
.win7 {

    line-height: 20px;
    border-spacing: 10px;
    padding: 15px;
}
.win7 td {
    padding-left: 8px;
}
.win7 td:nth-child(2) {
    text-align: left !important;
}
.tableheader {
    font-size: 10pt;
    background-color: #566C90;
    color: #E3E3E3;
    font-family: Tahoma, sans-serif;
}
.typeheader {
    font-size: 10pt;
    background-color: #E0E0E4;
    color: #30476D;
    font-family: TahomaBD, sans-serif;
}
.tablecontent {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #E0E0E4;
    font-size: 10pt;
    background-color: #FFFFFF;
    color: #585858;
    font-family: Tahoma, sans-serif;
}
.xtrainfo {
    line-height: 16px;
    font-size: 7pt;
    background-color: #FFFFFF;
    color: #9E160A;
    font-family: Tahoma, sans-serif;
}
.xtrainfo td {
    padding-left: 20px;
}