html {
    background-color: #242424;
}
@font-face {
    font-family: 'shermFont';
    src: url("fonts/sherm.ttf") format("truetype");
    font-weight: bold;
    font-style: oblique;
}
@font-face {
    font-family: 'HelveticaBd';
    src: url("fonts/helveticabd.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaLt';
    src: url("fonts/helveticalt.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.

a, a:hover, a:visited a:active {
    color: #FF7D00 !important;
    text-decoration: none !important;
}

#titlebar td{
    padding-left: 425px;
    padding-top: 25px;
}
#mainbar {
    position: relative;
    background-color: black;
}
#shermNET {
    color: white;
    font-size: 60pt;
    font-family: shermFont;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    user-select: none;
    white-space: nowrap;
}
.shermTEXT {
    padding-left: 125px;
}
.separator {
    background-color: #333333;
}
.news {
    padding-left: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-bottom: 10px;
}
td.separator {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.ongoingTitle {
    padding-top: 10px;
    font-family: HelveticaBd;
    font-size: 40px;
    color: #666666;
}
.newsTitle {
    border-top-left-radius: 10px;
    padding-top: 10px;
    font-family: HelveticaBd;
    font-size: 40px;
    background-color: #333333;
    color: #4e4e4c;
}
.aboutTitle {
    border-top-left-radius: 10px;
    padding-top: 10px;
    font-family: HelveticaBd;
    font-size: 40px;
    background-color: #c9caba;
    color: #a0a194;
}
.move {
    padding-left: 10px;
}
.ongoingContent {
    margin-bottom: 5px;
    line-height: 20px;
    font-family: HelveticaLt;
    font-size: 12px;
    color: #9a9a9a;
    background-color: #2b2b2b;
}
.aboutContent {
    line-height: 20px;
    font-family: HelveticaLt;
    font-size: 12px;
    color: #787876;
}
.link {
    margin-bottom: 5px;
    line-height: 20px;
    font-family: HelveticaLt;
    font-size: 12px;
    color: #FF7D00 !important;
    text-decoration: none !important;
}
.newsbox {
    margin-bottom: 5px;
    line-height: 20px;
    font-family: HelveticaLt;
    font-size: 12px;
    color: #9a9a9a;
    text-decoration: none;
}
a.newsbox {
    color: #FF7D00 !important;
    text-decoration: none !important;
}
.rss-title,
.rss-title:visited,
.rss-title:hover,
.rss-title:active {
    color: #FF7D00 !important;
    text-decoration: none !important;
}
